.git
venv/
__pycache__/
*.pyc
mlruns/
.pytest_cache/
.gcloudignore
.gitignore
notebooks/
tests/
reports/
data/raw/
data/external/
models/smartticket_bert.onnx
models/bert_finetuned/
models/bilstm_best.pth
models/bilstm_vocab.json
README.md