venv/
__pycache__/
*.pyc
.env
data/raw/
models/smartticket_bert.onnx
models/bert_finetuned/
models/bilstm_best.pth
models/bilstm_vocab.json
models/model_comparison.json
mlruns/
.ipynb_checkpoints/
*.egg-info/
dist/
build/
reports/drift_reports/*.html
E:\pip_cache/
.pytest_cache/